@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Vidaloka&display=swap");
header {
  width: 100%;
}
header #logo {
  position: fixed;
  top: 0;
  left: -10px;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  margin: 28px 40px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
header #logo #backgroundCircle {
  position: absolute;
  top: -10px;
  left: -10px;
  content: "";
  filter: blur(3px);
  width: 52px;
  height: 52px;
  background: rgba(6, 39, 67, 0.85);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
header #logo p {
  position: relative;
  color: #f9f8f8;
}
header #logo #secondLetter {
  transform: scale(-1, 1);
}
header #networks {
  list-style: none;
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 22px;
  padding: 12px 22px 10px;
  display: flex;
  gap: 16px;
}
header #networks span {
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  filter: blur(3px);
  width: 100%;
  height: 100%;
  background: rgba(6, 39, 67, 0.85);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
header #networks a {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #f9f8f8;
  transition: 0.2s;
}
header #networks a svg {
  width: 30px;
  height: 30px;
}
header #networks a:hover {
  transform: scale(1.1);
  color: #C4FFDD;
}

@media (min-width: 1440px) {
  header #logo {
    margin: 38px 55px;
    font-size: 40px;
  }
  header #logo #backgroundCircle {
    top: -12px;
    left: -12px;
    width: 70px;
    height: 70px;
  }
  header #networks {
    right: 37px;
    bottom: 31px;
    padding: 14px 26px 10px;
    gap: 22px;
  }
  header #networks a svg {
    width: 40px;
    height: 40px;
  }
}
footer {
  background: #C4FFDD;
  height: 140px;
  z-index: 1;
}
footer #footer {
  position: relative;
  display: flex;
  justify-content: center;
}
footer #footer__text {
  margin-top: 26px;
  font-size: 11px;
}
footer #footer__images {
  position: absolute;
  left: 10px;
  top: 42px;
  transform: rotate(90deg);
  width: 30px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

@media (min-width: 768px) {
  footer {
    height: 120px;
  }
  footer #footer {
    justify-content: center;
    width: 50%;
    flex-direction: column;
    align-items: center;
  }
  footer #footer__text {
    margin-top: 26px;
    font-size: 11px;
  }
  footer #footer__images {
    position: relative;
    left: -38px;
    top: 18px;
    transform: rotate(0deg);
    width: 38px;
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  footer {
    height: 100px;
  }
  footer #footer {
    justify-content: space-around;
    width: 65%;
    flex-direction: row;
    align-items: stretch;
    top: 19px;
  }
  footer #footer__text {
    margin-top: 20px;
    font-size: 11px;
  }
  footer #footer__images {
    position: relative;
    left: -38px;
    top: 18px;
    transform: rotate(0deg);
    width: 38px;
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  footer {
    height: 120px;
  }
  footer #footer {
    top: 19px;
  }
  footer #footer__text {
    margin-top: 30px;
    font-size: 14px;
  }
  footer #footer__images {
    left: -36px;
    top: 32px;
    width: 42px;
    gap: 36px;
  }
}
#sectionProjects {
  background-color: #062743;
  color: #f9f8f8;
  padding-inline: 11vw;
  padding-block: 13vw 14vw;
  position: relative;
}
#sectionProjects__title {
  text-align: center;
  margin-bottom: 10vw;
  font-family: "Vidaloka", serif;
}
#sectionProjects__background {
  display: flex;
  justify-content: center;
}
#sectionProjects__background #flower, #sectionProjects__background #leaves {
  width: 130px;
  position: absolute;
}
#sectionProjects__background #rod {
  content: "";
  width: 5px;
  height: 85%;
  background-color: #C4FFDD;
  position: absolute;
  top: 159px;
}
#sectionProjects__background #leaves {
  bottom: 50px;
}
#sectionProjects__listProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-block: 90px 140px;
}
#sectionProjects__listProjects:has(a:hover) a:not(:hover) {
  filter: blur(2px);
  transform: scale(0.95);
}
#sectionProjects__listProjects a {
  position: relative;
  transition: 0.3s;
}
#sectionProjects__listProjects a span {
  content: "";
  width: 250px;
  height: 250px;
  background-color: #f9f8f8;
  display: flex;
  opacity: 0.75;
  transition: 0.3s;
}
#sectionProjects__listProjects a p {
  position: absolute;
  color: #062743;
  bottom: 33px;
  left: 22px;
  font-size: 20px;
  font-weight: 500;
}
#sectionProjects__listProjects a svg {
  position: absolute;
  color: #062743;
  bottom: 13px;
  right: 22px;
  width: 46px;
  opacity: 0;
  transition: 0.2s;
}
#sectionProjects__listProjects a:hover span {
  opacity: 0.95;
  box-shadow: 1px 3px 12px 0px #C4FFDD;
}
#sectionProjects__listProjects a:hover svg {
  opacity: 1;
}

@media (min-width: 768px) {
  #sectionProjects {
    padding-inline: 13vw;
    padding-block: 7vw 7vw;
  }
  #sectionProjects__title {
    margin-bottom: 0;
  }
  #sectionProjects__content {
    display: flex;
    justify-content: space-between;
  }
  #sectionProjects__background {
    width: 28%;
  }
  #sectionProjects__background #flower, #sectionProjects__background #leaves {
    width: 150px;
  }
  #sectionProjects__background #rod {
    content: "";
    width: 5px;
    height: 82%;
    top: 159px;
  }
  #sectionProjects__background #leaves {
    bottom: 86px;
  }
  #sectionProjects__listProjects {
    margin-block: 70px 80px;
  }
}
@media (min-width: 1024px) {
  #sectionProjects {
    padding-inline: 7vw;
  }
  #sectionProjects__title {
    font-size: 32px;
    letter-spacing: 1px;
  }
  #sectionProjects__background {
    width: 35%;
  }
  #sectionProjects__background #flower, #sectionProjects__background #leaves {
    width: 170px;
  }
  #sectionProjects__background #rod {
    height: 71%;
  }
  #sectionProjects__listProjects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
  }
}
@media (min-width: 1440px) {
  #sectionProjects__title {
    font-size: 36px;
  }
  #sectionProjects__background {
    width: 35%;
  }
  #sectionProjects__background #flower, #sectionProjects__background #leaves {
    width: 190px;
  }
  #sectionProjects__background #rod {
    top: 241px;
    height: 68%;
    width: 6px;
  }
  #sectionProjects__background #leaves {
    bottom: 124px;
  }
  #sectionProjects__listProjects {
    gap: 50px;
  }
  #sectionProjects__listProjects a span {
    width: 350px;
    height: 350px;
  }
  #sectionProjects__listProjects a p {
    bottom: 40px;
    left: 34px;
    font-size: 22px;
  }
  #sectionProjects__listProjects a svg {
    bottom: 18px;
    right: 26px;
  }
}
#sectionProject1 {
  position: relative;
  padding-inline: 11vw;
  margin-bottom: 82px;
}
#sectionProject1 > p {
  margin-block: 20px;
}
#sectionProject1__btnGoBack {
  position: absolute;
  top: -22px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #062743;
}
#sectionProject1__btnGoBack img {
  width: 40px;
  height: 40px;
}
#sectionProject1__btnGoBack p {
  font-size: 13px;
}
#sectionProject1__title {
  font-family: "Vidaloka", serif;
  text-align: center;
  margin-block: 40px 30px;
}
#sectionProject1__logo, #sectionProject1__synthe {
  width: 100%;
}
#sectionProject1__lastText {
  padding-bottom: 50px;
}

#sectionProject2 {
  position: relative;
  margin-bottom: 92px;
}
#sectionProject2__btnGoBack {
  position: absolute;
  top: -22px;
  right: -6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #062743;
}
#sectionProject2__btnGoBack img {
  width: 40px;
  height: 40px;
}
#sectionProject2__btnGoBack p {
  font-size: 13px;
}
#sectionProject2__title {
  font-family: "Vidaloka", serif;
  text-align: center;
  margin-block: 40px 30px;
}
#sectionProject2 > p {
  padding-inline: 11vw;
}
#sectionProject2__imagesGroup {
  position: relative;
  width: 100%;
  height: 346px;
  margin: 0 auto 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#sectionProject2__imagesGroup #imgage1, #sectionProject2__imagesGroup #imgage2, #sectionProject2__imagesGroup #imgage3 {
  width: 170px;
  transition: 0.2s;
}
#sectionProject2__imagesGroup #imgage1 {
  position: relative;
  z-index: 8;
  left: 10px;
}
#sectionProject2__imagesGroup #imgage2 {
  position: absolute;
  top: 60px;
  left: -20px;
  z-index: 6;
  transform: rotate(-20deg);
}
#sectionProject2__imagesGroup #imgage3 {
  position: absolute;
  top: 84px;
  right: -50px;
  z-index: 10;
  transform: rotate(20deg);
}

#sectionProject3 {
  position: relative;
  padding-inline: 11vw;
  margin-bottom: 82px;
}
#sectionProject3__btnGoBack {
  position: absolute;
  top: -22px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #062743;
}
#sectionProject3__btnGoBack img {
  width: 40px;
  height: 40px;
}
#sectionProject3__btnGoBack p {
  font-size: 13px;
}
#sectionProject3__title {
  font-family: "Vidaloka", serif;
  text-align: center;
  margin-block: 40px 30px;
}
#sectionProject3__logo, #sectionProject3__login, #sectionProject3__map {
  width: 100%;
}
#sectionProject3__login {
  margin-block: 30px;
}
#sectionProject3__map {
  margin-top: 30px;
}
#sectionProject3__links {
  margin: 20px auto 0;
}
#sectionProject3__links a {
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #062743;
}
#sectionProject3__links a svg {
  color: #062743;
  width: 34px;
  position: relative;
  left: 3px;
  transition: 0.3s;
}
#sectionProject3__links a:hover svg {
  left: 10px;
}

#sectionProject4 {
  position: relative;
  padding-inline: 11vw;
  margin-bottom: 82px;
}
#sectionProject4 > p {
  margin-block: 20px;
}
#sectionProject4__btnGoBack {
  position: absolute;
  top: -22px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #062743;
}
#sectionProject4__btnGoBack img {
  width: 40px;
  height: 40px;
}
#sectionProject4__btnGoBack p {
  font-size: 13px;
}
#sectionProject4__title {
  font-family: "Vidaloka", serif;
  text-align: center;
  margin-block: 40px 30px;
}
#sectionProject4__logo {
  width: 220px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 30px;
  position: relative;
}
#sectionProject4__logo span {
  content: "";
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: black;
}
#sectionProject4__logo img {
  width: 200px;
  position: absolute;
  margin: 0 auto;
}
#sectionProject4__contactform {
  width: 100%;
  margin-block: 10px;
}
#sectionProject4__links {
  margin: 20px auto 0;
}
#sectionProject4__links a {
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #062743;
}
#sectionProject4__links a svg {
  color: #062743;
  width: 34px;
  position: relative;
  left: 3px;
  transition: 0.3s;
}
#sectionProject4__links a:hover svg {
  left: 10px;
}

@media (min-width: 768px) {
  #sectionProject1__logo, #sectionProject1__synthe {
    max-width: 320px;
    margin: 20px auto;
    display: flex;
  }
  #sectionProject1__links {
    margin: 20px auto 0;
  }
  #sectionProject1__links a {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #062743;
  }
  #sectionProject1__links a svg {
    color: #062743;
    width: 34px;
    position: relative;
    left: 3px;
    transition: 0.3s;
  }
  #sectionProject1__links a:hover svg {
    left: 10px;
  }
  #sectionProject2__btnGoBack {
    top: -22px;
    right: 20px;
  }
  #sectionProject2__imagesGroup {
    height: 430px;
  }
  #sectionProject2__imagesGroup #imgage1, #sectionProject2__imagesGroup #imgage2, #sectionProject2__imagesGroup #imgage3 {
    width: 200px;
  }
  #sectionProject2__imagesGroup #imgage2 {
    top: 80px;
    left: 140px;
    transform: rotate(-17deg);
  }
  #sectionProject2__imagesGroup #imgage3 {
    top: 105px;
    right: 127px;
    transform: rotate(17deg);
  }
}
@media (min-width: 1024px) {
  #sectionProject1__title {
    font-size: 32px;
    letter-spacing: 1px;
  }
  #sectionProject2__title {
    font-size: 32px;
    letter-spacing: 1px;
  }
  #sectionProject2__imagesGroup {
    height: 430px;
  }
  #sectionProject2__imagesGroup #imgage1, #sectionProject2__imagesGroup #imgage2, #sectionProject2__imagesGroup #imgage3 {
    width: 200px;
  }
  #sectionProject2__imagesGroup #imgage2 {
    top: 80px;
    left: 240px;
  }
  #sectionProject2__imagesGroup #imgage3 {
    top: 105px;
    right: 221px;
  }
  #sectionProject3__title {
    font-size: 32px;
    letter-spacing: 1px;
  }
  #sectionProject3__logo, #sectionProject3__login, #sectionProject3__map {
    max-width: 80%;
    display: flex;
    margin: 0 auto;
  }
  #sectionProject3__login {
    margin-block: 30px;
  }
  #sectionProject3__map {
    margin-top: 30px;
  }
  #sectionProject4 > p {
    margin-block: 30px;
  }
  #sectionProject4__title {
    font-size: 32px;
    letter-spacing: 1px;
  }
  #sectionProject4__logo {
    width: 360px;
    height: 100px;
  }
  #sectionProject4__logo img {
    width: 300px;
  }
  #sectionProject4__contactform {
    max-width: 80%;
    display: flex;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  #sectionProject1__title {
    font-size: 36px;
  }
  #sectionProject1__btnGoBack {
    top: -14px;
    right: 34px;
  }
  #sectionProject1__btnGoBack img {
    width: 62px;
    height: auto;
  }
  #sectionProject1__btnGoBack p {
    font-size: 16px;
  }
  #sectionProject1__synthe {
    max-width: 40%;
  }
  #sectionProject2__title {
    font-size: 36px;
  }
  #sectionProject2__imagesGroup {
    height: 530px;
    margin-bottom: 60px;
  }
  #sectionProject2__imagesGroup #imgage1, #sectionProject2__imagesGroup #imgage2, #sectionProject2__imagesGroup #imgage3 {
    width: 280px;
  }
  #sectionProject2__imagesGroup #imgage2 {
    top: 80px;
    left: 348px;
    transform: rotate(-13deg);
  }
  #sectionProject2__imagesGroup #imgage3 {
    top: 105px;
    right: 334px;
    transform: rotate(13deg);
  }
  #sectionProject2__btnGoBack {
    top: -14px;
    right: 34px;
  }
  #sectionProject2__btnGoBack img {
    width: 62px;
    height: auto;
  }
  #sectionProject2__btnGoBack p {
    font-size: 16px;
  }
  #sectionProject3__title {
    font-size: 36px;
  }
  #sectionProject3__btnGoBack {
    top: -14px;
    right: 34px;
  }
  #sectionProject3__btnGoBack img {
    width: 62px;
    height: auto;
  }
  #sectionProject3__btnGoBack p {
    font-size: 16px;
  }
  #sectionProject3__logo, #sectionProject3__login, #sectionProject3__map {
    max-width: 70%;
    display: flex;
    margin: 0 auto;
  }
  #sectionProject3__login {
    margin-block: 50px;
  }
  #sectionProject3__map {
    margin-top: 30px;
  }
  #sectionProject4 > p {
    margin-block: 50px;
  }
  #sectionProject4__title {
    font-size: 36px;
  }
  #sectionProject4__contactform {
    max-width: 70%;
  }
  #sectionProject4__btnGoBack {
    top: -14px;
    right: 34px;
  }
  #sectionProject4__btnGoBack img {
    width: 62px;
    height: auto;
  }
  #sectionProject4__btnGoBack p {
    font-size: 16px;
  }
}
#sectionHome {
  height: 100vh;
  background-color: #062743;
  color: #f9f8f8;
  padding-inline: 11vw;
  padding-top: 5vw;
}
#sectionHome__animation {
  position: relative;
}
#sectionHome__background {
  content: "";
  height: 310px;
  width: 100%;
  margin-block: 20px;
  display: flex;
  background: url("../images/photo_lucie.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
  position: relative;
  z-index: 10;
}
#sectionHome__flower {
  position: absolute;
  bottom: -50px;
  right: -12px;
  width: 90px;
  transform: rotate(115deg);
}
#sectionHome__title {
  font-family: "Vidaloka", serif;
  font-weight: 500;
  font-size: 14vw;
  margin-bottom: 20px;
}
#sectionHome__subtitle {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  #sectionHome {
    padding-inline: 7vw;
  }
  #sectionHome__content {
    display: flex;
    align-items: center;
  }
  #sectionHome__background {
    height: 410px;
    width: 300px;
    background-position-y: 25%;
  }
  #sectionHome__flower {
    bottom: -26px;
    left: 260px;
  }
  #sectionHome__text {
    margin-left: 34px;
  }
  #sectionHome__title {
    font-size: 10vw;
  }
  #sectionHome__subtitle {
    font-size: 4vw;
  }
}
@media (min-width: 1024px) {
  #sectionHome {
    padding-inline: 11vw;
  }
  #sectionHome__background {
    height: 36vw;
    width: 30vw;
  }
  #sectionHome__flower {
    bottom: -1vw;
    left: 28vw;
    width: 8vw;
  }
  #sectionHome__text {
    margin-left: 4vw;
  }
  #sectionHome__title {
    font-size: 8vw;
  }
  #sectionHome__subtitle {
    font-size: 3vw;
  }
}
@media (min-width: 1440px) {
  #sectionHome__background {
    max-height: 32vw;
  }
  #sectionHome__flower {
    bottom: -2vw;
  }
  #sectionHome__text {
    margin-left: 5vw;
  }
  #sectionHome__title {
    font-size: 7vw;
  }
  #sectionHome__subtitle {
    font-size: 2vw;
  }
}
#sectionAbout {
  padding-block: 13vw;
}
#sectionAbout__title {
  text-align: center;
  margin-bottom: 10vw;
  font-family: "Vidaloka", serif;
}
#sectionAbout__content {
  padding-inline: 11vw;
  position: relative;
}
#sectionAbout__content p {
  font-size: 16px;
}
#sectionAbout__content #firstText {
  margin-block: 40px;
}
#sectionAbout__content #secondText {
  margin-top: 40px;
}
#sectionAbout__content #thirdText {
  margin-block: 15px;
}
#sectionAbout__content #lastText {
  margin-bottom: 40px;
}
#sectionAbout__content #laptop__groupTextes {
  display: none;
}
#sectionAbout__content #pictureOne {
  content: "";
  display: flex;
  width: 220px;
  height: 220px;
  margin-bottom: 70px;
  background: url("../images/photo_lucie.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 22%;
  position: relative;
}
#sectionAbout__content #bicolorLeafs {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 150px;
  left: 175px;
}
#sectionAbout__content #bicolorLeafs__greenLeaf {
  width: 41px;
  position: absolute;
  top: 7px;
  left: 7px;
}
#sectionAbout__content #bicolorLeafs__secondLeaves {
  position: relative;
  bottom: 4px;
}
#sectionAbout__content #doubleCornerFlowers {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
#sectionAbout__content #doubleCornerFlowers__green {
  width: 70px;
  height: 70px;
  transform: rotate(23deg);
  position: absolute;
  top: 20px;
  left: 20px;
}
#sectionAbout__content #flowerWithBackground, #sectionAbout__content #doubleRoundedFlowers, #sectionAbout__content #blueFlower {
  display: none;
}
#sectionAbout #pictureAndFlower {
  position: relative;
  margin-block: 10px;
  overflow: hidden;
}
#sectionAbout #pictureAndFlower__pictureTwo {
  content: "";
  display: flex;
  width: 220px;
  height: 220px;
  transform: rotate(8.645deg);
  margin-block: 30px;
  position: relative;
  left: 130px;
  background: url("../images/mesange.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}
#sectionAbout #pictureAndFlower__blueFlower {
  width: 170px;
  height: 170px;
  transform: rotate(59deg);
  position: absolute;
  left: -40px;
  top: 50px;
}

@media (min-width: 768px) {
  #sectionAbout {
    padding-block: 7vw 5vw;
  }
  #sectionAbout__title {
    margin-bottom: 6vw;
  }
  #sectionAbout__content {
    margin-bottom: 20px;
    padding-inline: 7vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(4, 134px);
  }
  #sectionAbout__content #pictureOne {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
  }
  #sectionAbout__content #bicolorLeafs {
    width: 100%;
    height: 140px;
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    top: 0;
    left: 0;
  }
  #sectionAbout__content #bicolorLeafs__greenLeaf {
    width: 50px;
    top: 8px;
    left: 8px;
  }
  #sectionAbout__content #bicolorLeafs__secondLeaves {
    bottom: 4px;
  }
  #sectionAbout__content #firstText {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-inline: 30px;
  }
  #sectionAbout__content #firstText, #sectionAbout__content #secondText {
    margin-block: 0;
  }
  #sectionAbout__content #thirdText {
    margin-block: 15px;
  }
  #sectionAbout__content #lastText {
    margin-bottom: 40px;
  }
  #sectionAbout__content #groupTextes {
    margin-top: 64px;
    margin-left: 30px;
    grid-column: 2/4;
    grid-row: 3/5;
  }
  #sectionAbout__content #blueFlower {
    display: block;
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #sectionAbout__content #pictureTwo {
    grid-column: 3/4;
    grid-row: 2/3;
    content: "";
    display: flex;
    background: url("../images/mesange.JPG");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sectionAbout__content #doubleCornerFlowers {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
  }
  #sectionAbout__content #doubleCornerFlowers__green {
    width: 78px;
    height: auto;
    top: 27px;
    left: 27px;
  }
  #sectionAbout__content #flowerWithBackground {
    display: block;
    background-color: #113A5D;
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #sectionAbout__content #flowerWithBackground__flower {
    transform: rotate(45deg);
    width: 108px;
    height: auto;
    position: relative;
    top: 12px;
    left: 12px;
  }
  #pictureAndFlower {
    display: none;
  }
}
@media (min-width: 1024px) {
  #sectionAbout {
    padding-block: 6vw 5vw;
  }
  #sectionAbout__title {
    margin-bottom: 5vw;
    font-size: 32px;
    letter-spacing: 1px;
  }
  #sectionAbout__content {
    margin-bottom: 20px;
    padding-inline: 7vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 176px);
    position: relative;
  }
  #sectionAbout__content #pictureOne {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
  }
  #sectionAbout__content #bicolorLeafs__greenLeaf {
    width: 68px;
    top: 10px;
    left: 10px;
  }
  #sectionAbout__content #firstText {
    grid-column: 2/5;
    grid-row: 1/3;
    margin-inline: 40px;
  }
  #sectionAbout__content #firstText, #sectionAbout__content #secondText {
    margin-block: 0;
  }
  #sectionAbout__content #thirdText {
    margin-block: 15px;
  }
  #sectionAbout__content #lastText {
    margin-bottom: 40px;
    grid-column: 3/6;
    grid-row: 4/5;
  }
  #sectionAbout__content #groupTextes {
    display: none;
  }
  #sectionAbout__content #laptop__groupTextes {
    display: block;
    position: absolute;
    top: 272px;
    left: 286px;
    width: 656px;
  }
  #sectionAbout__content #laptop__secondText, #sectionAbout__content #laptop__thirdText {
    margin-bottom: 20px;
  }
  #sectionAbout__content #pictureTwo {
    grid-column: 2/3;
    grid-row: 4/5;
    background-size: cover;
  }
  #sectionAbout__content #doubleCornerFlowers {
    grid-column: 5/6;
  }
  #sectionAbout__content #doubleCornerFlowers__green {
    width: 99px;
    top: 37px;
    left: 37px;
  }
  #sectionAbout__content #flowerWithBackground__flower {
    width: 144px;
    top: 16px;
    left: 16px;
  }
  #sectionAbout__content #doubleRoundedFlowers {
    position: relative;
    display: block;
    grid-column: 3/4;
    grid-row: 4/5;
    width: 100%;
    height: 100%;
  }
  #sectionAbout__content #doubleRoundedFlowers__green {
    position: absolute;
    width: 63px;
    height: auto;
    top: 57px;
    left: 57px;
    transform: rotate(45deg);
  }
}
@media (min-width: 1440px) {
  #sectionAbout__title {
    margin-bottom: 4vw;
    font-size: 36px;
  }
  #sectionAbout__content {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 217px);
  }
  #sectionAbout__content #bicolorLeafs__greenLeaf {
    width: 86px;
    top: 11px;
    left: 11px;
  }
  #sectionAbout__content #firstText {
    grid-column: 2/6;
    grid-row: 1/3;
    font-size: 23px;
    margin-inline: 60px;
  }
  #sectionAbout__content #laptop__groupTextes {
    top: 312px;
    left: 382px;
    width: 1000px;
  }
  #sectionAbout__content #laptop__secondText, #sectionAbout__content #laptop__thirdText {
    margin-bottom: 20px;
    font-size: 23px;
  }
  #sectionAbout__content #laptop__lastText {
    font-size: 23px;
  }
  #sectionAbout__content #doubleCornerFlowers {
    grid-column: 6/7;
  }
  #sectionAbout__content #doubleCornerFlowers__green {
    width: 124px;
    top: 45px;
    left: 45px;
  }
  #sectionAbout__content #flowerWithBackground__flower {
    width: 177px;
    top: 21px;
    left: 21px;
  }
  #sectionAbout__content #doubleRoundedFlowers__green {
    width: 78px;
    height: auto;
    top: 70px;
    left: 70px;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", serif;
}/*# sourceMappingURL=main.css.map */