header {
    width: calc(100%);

    #logo {
        position: fixed;
        top: 0;
        left: -10px;
        display: flex;
        justify-content: flex-end;
        z-index: 100;
        margin: 28px 40px;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
        

        #backgroundCircle {
            position: absolute;
            top: -10px;
            left: -10px;
            content: '';
            filter: blur(3px);
            width: 52px;
            height: 52px;
            background: $blue-blur;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
        }

        p {
            position: relative;
            color: $neutral-light;
        }

        #secondLetter {
            transform: scale(-1, 1);
        }
    }

    #networks {
        list-style: none;    
        position: fixed;
        z-index: 100;
        right: 20px;
        bottom: 22px;
        padding: 12px 22px 10px;
        display: flex;
        gap: 16px;

        span {
            position: absolute;
            top: 3px;
            left: 0;
            content: '';
            filter: blur(3px);
            width: 100%;
            height: 100%;
            background: $blue-blur;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
        }


        a {
            position: relative;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: $neutral-light;
            transition: 0.2s;

            & svg {
                width: 30px;
                height: 30px;
            }
            

            &:hover {
                transform: scale(1.1);
                color: $accentuation;
            }
        }

    }
}



@media (min-width: 1440px) {
    header {
        #logo {
            margin: 38px 55px;
            font-size: 40px;

            #backgroundCircle {
                top: -12px;
                left: -12px;
                width: 70px;
                height: 70px;
            }
        }

        #networks {
            right: 37px;
            bottom: 31px;
            padding: 14px 26px 10px;
            gap: 22px;

            a {
                & svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}