#sectionHome {
    height: 100vh;
    background-color: $dark-blue;
    color: $neutral-light;
    padding-inline: $padding-content-sm;
    padding-top: 5vw;

    &__animation {
        position: relative;
    }
    &__background {
        content: '';
        height: 310px;
        width: 100%;
        margin-block: 20px;
        display: flex;
        background: url('../images/photo_lucie.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 25%;
        position: relative;
        z-index: 10;
    }
    // &__picture {
    //     margin-block: 20px;
    //     height: 310px;
    //     width: 100%;

    //     img {
    //         height: auto;
    //         width: 100%;
    //         position: relative;
    //         z-index: 10;
    //     }
    // }
    &__flower {
        position: absolute;
        bottom: -50px;
        right: -12px;
        width: 90px;
        transform: rotate(115deg);
    }

    &__title {
        font-family: $title-font;
        font-weight: 500;
        font-size: 14vw;
        margin-bottom: 20px;
    }

    &__subtitle {
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) {
    #sectionHome {
        padding-inline: $padding-content-l;

        &__content {
            display: flex;
            align-items: center;
        }

        // &__animation {

        // }
        
        &__background {
            height: 410px;
            width: 300px;
            background-position-y: 25%;
        }
        &__flower {
            bottom: -26px;
            left: 260px;
        }

        &__text {
            margin-left: 34px;
        }
    
        &__title {
            font-size: 10vw;
        }
    
        &__subtitle {
            font-size: 4vw;
        }

    }
}


// PC
@media (min-width: 1024px) {

    #sectionHome {
        padding-inline: $padding-content-sm;

        // &__animation {
        //     
        // }
        &__background {
            // height: 450px;
            // width: 400px;
            height: 36vw;
            width: 30vw;
        }
        &__flower {
            // bottom: -26px;
            // left: 366px;
            // width: 110px;
            bottom: -1vw;
            left: 28vw;
            width: 8vw;
        }
    
        &__text {
            margin-left: 4vw;
        }
    
        &__title {
            font-size: 8vw;
        }
    
        &__subtitle {
            font-size: 3vw;
        }
    }
}




@media (min-width: 1440px) {
    #sectionHome {
        // &__animation {
        //     
        // }
        &__background {
            max-height: 32vw;
        }
        &__flower {
            bottom: -2vw;
        }
    
        &__text {
            margin-left: 5vw;
        }
    
        &__title {
            font-size: 7vw;
        }
    
        &__subtitle {
            font-size: 2vw;
        }
    }
}