// COLORS
$dark-blue: #062743;
$primary-blue: #113A5D;
$accentuation: #C4FFDD;
$neutral-light: #f9f8f8;

$blue-blur: rgb(6, 39, 67, 85%);
$green-project-hover : #A8CBCB;


// FONTS
$title-font: "Vidaloka", serif;


// PADDING & MARGIN
$padding-content-sm: 11vw;
// $padding-content-m: 11vw;
$padding-content-l: 7vw;


