/* html {
    scrollbar-color: blue white;
} */

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.font { 
    font-family: 'Unbounded', sans-serif; 
}

:root{
    --nav-blue: #1D24CA;
    --hero-span: #98ABEE;
}
